/*SIDE RIGHT*/
.profile {
  background-color: #922180 !important;
}
.ico-profile2 {
  width: 50px;
  height: 50px;
  margin-top: -65px;
}
.card-title {
  span {
    text-align: center;
  }
}
.card-title-sec {
  font-weight: bold;
  font-size: 12px;
  color: #4d5760;
}
.font-blue {
  color: #323ebe;
}
.text-profile {
  font-size: 20px;
}
/*END SIDE RIGHT*/
#left-side {
  .menu-inner-post {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 15px;
    li {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0;
      cursor: pointer;
      & > div {
        border-radius: 50%;
        padding: 6px;
        height: 40px;
        width: 40px;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {
        &:nth-child(1) {
          div {
            background-color: #eddadb;
          }
          img {
            filter: invert(27%) sepia(55%) saturate(2394%) hue-rotate(338deg)
              brightness(89%) contrast(120%);
          }
        }
        &:nth-child(2) {
          div {
            background-color: #daeeee;
          }
          img {
            filter: invert(45%) sepia(75%) saturate(363%) hue-rotate(128deg)
              brightness(96%) contrast(91%);
          }
        }
        &:nth-child(3) {
          div {
            background-color: #dcdff0;
          }
          img {
            filter: invert(21%) sepia(78%) saturate(2571%) hue-rotate(227deg)
              brightness(101%) contrast(87%);
          }
        }
        &:nth-child(4) {
          div {
            background-color: #e6e8e9;
          }
        }
      }
    }
  }
}
