$color-grey: #d2d6db;
$color-grey-light: #d2d6db;
$color-grey-middle: #76808c;
$color-grey-dark: #4d5760;
$color-black: #08090a;
$color-blue: #323ebe;
$color-blue-boton-list: #3b49df;
$color-white: #f9fafa;
$color-fondo: #eef0f1;

.bg-{
  &grey{
    background-color: $color-grey;
  }
  &grey-light{
    background-color: $color-grey-light;
  }
  &grey-middle{
    background-color: $color-grey-middle;
  }
  &grey-dark{
    background-color: $color-grey-dark
  }
  &black{
    background-color: $color-black;
  }
  &hover-blue{
    background-color: $color-blue;
  }
  &blue-boton{
    background-color: $color-blue-boton-list;
  }
  &white{
    background-color: $color-white;
  }
  &fondo{
    background-color: $color-fondo;
  }
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 0px;
  z-index: 1;
  @media screen and (min-width: 768px) {
    padding: 8px;
    align-items: baseline;
    border-bottom: 1px solid #ccc;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;

    /*NAV BAR LEFT SIDE*/
    .menu-left {
      display: flex;
      align-items: center;
      width: 100%;
      .menu {

        .menu-wrapper {
          background-color: white;
          height: 100%;
          width: 50vw;
          max-width: 300px;
          margin: 0;
        }
      }

      .logo {
        width: 50px;
        height: 40px;
        border-radius: 3px;
      }
      .search {
        margin-left: 10px;
        display: none;
        @media screen and (min-width: 768px) {
          display: inherit;
        }
        input{
          font-size: 12pt;
          padding: 0 6px;
          width: 100%;
          max-width: 400px;
          background-color: #f9fafa;
          color: #41484f;
        }
      }
    }
    /*NAV BAR - RIGHT SIDE*/
    .menu-right {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .button-post {
        background-color: $color-blue-boton-list;
        color: white;
        padding: 11px 20px;
        font-size: 16px;
        text-align: center;
        display: none;
        transition: 0.5s ease-in-out;
        transform: all;

        @media screen and (min-width: 768px) {
          display: inherit;
        }
        &:hover {
          background-color: $color-blue;
        }
      }
      img {
        padding: 8px;
        border-radius: 50%;
        margin: 0 6px;
        cursor: pointer;
        &.ico-search {
          display: inherit;
          @media screen and (min-width: 768px) {
            display: none;
          }
        }
        &:last-of-type {
          padding: 0;
          width: 40px;
        }
        &:hover {
          background-color: $color-grey-light;
        }
      }
    }
  }
}

#left-side{
  background-color: #EEF0F1;
  #navbarNav{
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    @media screen and (min-width:768px) {
      position: inherit;
      background: transparent;
    }
    .navbar-nav{
      background-color: white;
      height: 100%;
      width: 50vw;
      max-width: 300px;
      margin: 0;
      padding: 1rem;
      @media screen and (min-width:768px) {
        background: transparent;
      }
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding: 16px;
        h2 {
          margin: 0;
          font-size: 14pt;
        }
        .close-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          height: 35px;
          font-weight: bold;
          font-size: 22px;
          display: flex;
          border-radius: 50%;
          &:hover {
            background-color: $color-grey-light;
          }
        }
      }
      ul{
        padding: 1rem 0;
        list-style: none;
      }
    }
  }
}